{% extends 'tracker/base.html' %}
{% block content %}

<article class="media content-section">
    <div class="media-body">
        Position: {{ job.position_name }}
        Company: {{ job.company_name }}
        <small class="text-muted"> Applied: {{ job.date_applied }}</small> 
        <p> Location: {{ job.location }}</p>
    </div>
    <form action="{% url 'add-interview' job.pk %}">
        <button type="submit" value="{{job.pk}}" class="btn btn-sm btn-success">Add Interview</button>
    </form>
</article>
    {% for interview in interviews %}
    
    <p> {{ interview.interviewer }}</p>
    <p> {{ interview.interview_date }}</p>
    <p> {{ interview.thoughts }}</p>
    {% endfor %}


{% endblock content %}